# JWT Token Auth
SECRET_KEY=<your-secret-token-for-jwt-authentication>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=360

# Telegram (you can receive it in @BotFarther)
TOKEN_BOT=<telegram-bot-token>
APP_LOGIN_URL=http://localhost:8000/login.html


# DB
DATABASE_URL=<your-database-url>
DB_HOST=db
DB_PORT=5432
POSTGRES_USER=postgres
